<div id="home-wrapper">
  <div id="nav">
    <%= link_to "Contest", posts_path, class: "nav-contest" %><%= link_to "Winners Gallery", archive_path, class: "nav-contest" %>
    <% if current_user %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-logout" %>
    <%= link_to "Your Profile", profile_path(current_user.id), class: "nav-profile" %>
    <% end %>
  </div>
  <div id="main-title">
    <h1>memr</h1>
  </div>
  <div class="description">
    <p>A Weekly Meme Contest. Post. Share. Win!</p>
  </div>
  <% if user_signed_in? %>
  <button id="button-style2" class="post-meme"><%= link_to "Enter Now!", new_post_path %></button>
  <% end %>
  <% if !current_user %>
  <button id="button-style" class="signup"><%= link_to "Sign Up", new_user_registration_path %></button>
  <button id="button-style" class="login"><%= link_to "Log In", new_user_session_path %></button>
  <button class="with-twitter"><i class="fa fa-twitter" aria-hidden="true"></i><%= link_to "Log In with Twitter", user_omniauth_authorize_path(:twitter) %></button>
  <% end %>
</div>