<!DOCTYPE html>
<html>
  <head>
    <title>Memr</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Lato' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
  </head>
  <div id="flash">
    <%= flash[:notice] if flash[:notice] %>
    <%= flash[:alert] if flash[:alert] %>
  </div>
  <body>
    <%= yield %>
  </body>
</html>